# FOR , While LOOP , Tuple

In [5]:
mobile = [111 , 222 , 333 , 444]

In [6]:
for m in mobile:
    if m == 111:
        print("found")
else:
    print("not found")

found
not found

In [7]:
for m in mobile:
    if m == 111:
        print("found")
        break
else:
    print("not found")

found

In [ ]:
else if supported with if ,for ,while

In [9]:
salary=20

In [10]:
target = 40 if salary > 4 else 20

In [11]:
target

40

In [17]:
db = [1,2,3,4,5]
output = []
for i in db:
    j = i ** 2
    output.append(j) ##storing data for future usecase

In [18]:
output

[1, 4, 9, 16, 25]

In [19]:
##ETL Operation  
## List Comperension 

output = [ i**2 for i in db]

In [20]:
output

[1, 4, 9, 16, 25]

In [ ]:
#### change code with one line ###

In [25]:
name = ["pop" , "eric" , "tom@redhat.com" , "vimal"]

In [26]:
final_emails = [n + "@gmail.com" for n in name if not n.endswith("@redhat.com")]

In [27]:
final_emails

['pop@gmail.com', 'eric@gmail.com', 'vimal@gmail.com']

In [28]:
x = 2
y = 5
y += x

In [32]:
y

7

# While Loop

In [33]:
page =1

while page <= 10:
    if page == 5:
        print("essay")
        break
    page += 1
else:
    print("bye")

essay

In [34]:
x=5

In [35]:
id(x)

1745834803568

In [36]:
y=5
z=5

In [37]:
id(x)
id(y)
id(z) ###same adresss for all

1745834803568

In [38]:
# Tuple : RO : immutable we cant add or change in it

name = ("jack" , "pop" , "vimal" , "krish")