# Dictortionary and Operation

In [1]:
def mysum(*data):
    print(data)
    j=0
    for i in data:
        print(i)
        j += 1
        
    return j

In [3]:
mysum (*[1,2,3,4] )

(1, 2, 3, 4)
1
2
3
4

4

In [4]:
mysum(1,2,3,4)

(1, 2, 3, 4)
1
2
3
4

4

5>2 and 9>7

In [5]:
5>2 and 9>7

True

In [6]:
5>2 or 9>7

True

In [7]:
5>2 and 9<7

False

In [14]:
maths=35
eco=90
phy=34
chem=50

In [15]:
school_condition = [
    maths > 50,
    eco > 50,
    phy > 45,
    chem > 50
]

In [17]:
## AND logical operator 
if all(school_condition):
    print("pass")
else:
    print("fail")

fail

In [18]:
## OR operator
if any(school_condition):
    print("pass")
else:
    print("fail")

pass

In [19]:
## Nested List 

month =  [
    [1,2,3],
    [2,3,4],
    [3,4,5],
    [6,7,8]
]

In [21]:
month[0]

[1, 2, 3]

In [22]:
month[0][2:]

[3]

In [23]:
## Numpy Array we can apply column and row wise both

## list support only row not column

In [ ]:
import numpy

In [ ]:
final_month = numpy.array(month)

In [ ]:
## final_month [ row , colmun]
final_month=[2:3 , 1:4]

In [26]:
exp = 7

In [27]:
#comparasion chain
if 2 < exp <10:
    print("accpet")
else:
    print("not")

accpet

In [42]:
## Dictornary
## Key:pair
data = {'id':1 , 'county':"india" , 'name': "Chayan Deokar"}

In [43]:
data["id"]

1

In [44]:
data.values()

dict_values([1, 'india', 'Chayan Deokar'])

In [46]:
import collections ## we can have collection of your data

In [47]:
data1 = {}

In [49]:
data

{'id': 1, 'county': 'india', 'name': 'Chayan Deokar'}

In [50]:
team1 = {'id': 1, 'county': 'india', 'name': 'Chayan Deokar'}

In [57]:
team2 = {'pc': 3, 'gender': 'Male'}

In [58]:
## python3.9 and above it merge both teams
finalteam = team1 | team2

In [59]:
finalteam

{'id': 1,
 'county': 'india',
 'name': 'Chayan Deokar',
 'pc': 3,
 'gender': 'Male'}

In [60]:
import sys

In [61]:
sys.version

'3.10.2 (tags/v3.10.2:a58ebcc, Jan 17 2022, 14:12:15) [MSC v.1929 64 bit (AMD64)]'

In [65]:
# keyword argurment (**)
def lw(**x):
    print(type(x))

In [69]:
def mymerge(d1 ,d2):
    return{**d1 , **d2}

In [70]:
mymerge({'id':1 , "name":"chayan"} , {'company':"redhat"})

{'id': 1, 'name': 'chayan', 'company': 'redhat'}

In [71]:
s = {1,1,2,4,4,5} ##Set

In [72]:
s

{1, 2, 4, 5}

In [ ]:
## format we can apply where we want to do it

In [90]:
##n = "chayan"
n=input("enter your name : ")
t="india"

enter your name : jacck

In [91]:
s = "this is welcome {} you".format(n)

In [92]:
s

'this is welcome jacck you'

In [93]:
# String interpolation
s= "this is {0} and you are wrlcomed {1}".format(n,t)

In [94]:
s

'this is jacck and you are wrlcomed india'